/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

/* Standard font storlek är 16px = 1rem */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem; /* 16px * 4 = 64px */
  /* display: flex;
  gap: 2rem;
  justify-content: center; */
  background-color: lightgray;
}

.text-block {
  width: 420px;
  border: 1px salmon solid;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: .5em;
  margin-top: 1em;
}

p {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Publik', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
}

a {
  /* display: inline-block; */
  margin: 1rem;
}

.bold {
  font-weight: bold;
}

em {
  font-family: 'Courier New', Courier, monospace;
}

.italic {
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justified {
  text-align: justify;
}

.text-red {
  color: red;
}

/* GLOBAL FLAG */
.flag {
  position: relative;
  margin-bottom: 2rem;
}

.flag-2-3 {
  width: 600px;
  height: 400px;
}

/* JAPAN */
.japan {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.japan .red-dot {
  height: 200px;
  width: 200px;
  background-color: rgb(151, 4, 9);
  border-radius: 100%;
}

/* SWEDEN */
.sweden {
  background-color:#005293;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sweden .line {
  background-color: #FFCD00;
}

.sweden .line.horizontal-line {
  height: 4rem;
  width: 100%;
}

.sweden .line.vertical-line {
  height: 100%;
  width: 4rem;
  position: absolute;
  top: 0;
  left: 30%;
}

/* ITALY */

.italy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.italy .bars {
  height: 100%;
  width: 100%;
}

.italy .green {
  background-color: #008C45;
}

.italy .white {
  background-color: #F4F9FF;
}

.italy .red {
  background-color: #CD212A;
}
